<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/scripts/layoutsrc.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">

  <title>Home</title>

  <title><%= title %></title>
  <% if (extraStyles) { %>
    <link rel="stylesheet" href="<%= extraStyles %>">
  <% } %>
    <link rel="stylesheet" href="/styles/layout.css">

    
</head >
<body >
  <header>

    <div class="navbar">
      <div class="nav-top">
     
        <a class="nav-el-top logo"href="/home"><img id="logo" src="/photos/logo.svg" alt="logo"></a>
    
    <div class="search-box nav-el-top">
        <input type="text" id="searchInput" placeholder="Aramak için manga adını yazın...">
        <i class="search fa-solid fa-magnifying-glass"></i>
        <div id="searchResults" class="results-box"></div>
    </div>
    <div class="top-right" >  
       <a href="/profile/Personal-Informaton" class="name">
      <img id="ppfoto"  src="/photos/user.svg" alt="">
     <div class="text" ><%= user.kullaniciAdi %>
    </div></a> 
     
          <% const a = "#" %>
          <a href="/profile/Personal-Informaton">
            <div class=" profilediv"  >
            <img class="profilePic" src="<%= user.pp || a %> ">
          </div>
        </a>
    </div>
</div>
    <div class="nav-bottom">
      <div class="sol">
      
          <div class="dropdown">
          <div class="nav-el-bottom " id="dropdownTogglehow"><img class="navSem" src="/photos/icons/info.svg" alt="">Nasıl İşliyor<img class="navSemL" src="/photos/icons/arr-down.svg" alt=""></div>
           <div class="dropdown-content" id="dropdownMenuhow">
            <a href="/how-it-works">Before Purchase</a>
            <hr class="cizik" >
            <a href="/schedule">After Purchase</a>
            
    </div></div>
          <a href="/SSS"><div class=" nav-el-bottom link"><img class="navSem" src="/photos/icons/question.svg" alt="">SSS</div></a>
          <a href="/upload"><div class="nav-el-bottom link"><img class="navSem" src="/photos/icons/plus.svg" alt="">İlan Ver</div></a>
          </div>
          <div class="sag">
            <div class="dropdown bottom-right">
          <div class="nav-el-bottom " id="dropdownToggleDays">Açık gunler<img class="navSemL" src="/photos/icons/arr-down.svg" alt=""></div>
           <div class="dropdown-content" id="dropdownMenuDays">
            <a href="#">Pzt</a>
            <a href="#">Sali</a>
            <hr class="cizik">
            <a href="#">Cs drop</a>
            <a href="#">Perşembe</a>
            <a href="#">Cuma</a>
            <a href="#">Cumartesi</a>
            <hr class="cizik">
            <a href="#">Cs oyun</a>
    </div>
        </div>
        <div class="dropdown bottom-right f">
          <div class="nav-el-bottom " id="dropdownToggleContact"><img class="navSem" src="/photos/icons/message.svg" alt="">İletişim<img class="navSemL" src="/photos/icons/arr-down.svg" alt=""></div>
           <div class="dropdown-content" id="dropdownMenuContact">
            <a href="#"><div class="navSem"></div>İnstagram</a>
            <a href="#"><div class="navSem"></div>Facebook</a>
            <hr class="cizik">
            <a href="#"><div class="navSem"></div>PH</a>
            <a href="#"><div class="navSem"></div>Twichkts</a>
            <a href="#"><div class="navSem"></div>Nası yazılıo aq</a>
            
    </div>
       
          
    </div></div>
  </header>



  <main>
    
     <div class="content" ><%- include(content) %> </div>
    
  </main>
 
</body>
</html>
